<button
  class="celsius-button"
  disabled={{eq this.temperature.format 'celsius'}}
  type="button"
  {{on 'click' (fn this.setTempFormat 'celsius')}}
>
  Celsius
</button>
<button
  class="fahrenheit-button"
  disabled={{eq this.temperature.format 'fahrenheit'}}
  type="button"
  {{on 'click' (fn this.setTempFormat 'fahrenheit')}}
>
  Fahrenheit
</button>
<form
  role="search"
  aria-label="Location search form"
  {{on 'submit' this.onSubmit}}
>
  <input
    type="search"
    name="query"
    value={{this.query}}
    placeholder="Search Locations"
    aria-label="Search"
    autocomplete="off"
  />
</form>
<CurrentWeather @date={{this.date}} @currentWeather={{@weatherData.current}} />
<div class="daily-forecast-wrapper">
  {{#each this.sevenDayForecast as |dailyForecast|}}
    <DailyForecast
      @dailyForecast={{dailyForecast}}
      @temperatureFormat={{this.temperature.format}}
    />
  {{/each}}
</div>
